ul {
	display: inline-block;
}

.App {
	text-align: center;
}
.header {
	width: 100%;
	background-color: grey;
}
.gameContainer {
	border: solid black;
	display: flex;
	height: 60vh;
	justify-content: space-around;
}
.statsWindow {
	border: solid black;
	width: 25vw;
	margin: 5px 5px 5px 5px;
}
.gameWindow {
	border: solid black;
	width: 40vw;
	margin: 5px 5px 5px 5px;
}
.inventoryWindow {
	border: 10px solid transparent;
	padding: 15px;
	margin: 5px 5px 5px 5px;
	border-image: url(Images/images.jpg) 30 round;
	background-image: url(Images/burlap-background.jpg);
}
.inv {
	cursor: pointer;
}
.actualInventory {
	background-color: rgba(179, 179, 179, 0.575);
}
.del {
	border: none;
	background-color: none;
	background: none;
	outline: none;
	font-size: 20px;
}
.del:active {
	transform: translateY(4px);
}
.characterCreate {
	border: black solid;
	margin: 5px 5px 5px 5px;
}
.lootWindow {
	border: black solid;
	margin: 5px 5px 5px 5px;
}
.combatWindow {
	border: black solid;
	margin: 5px 5px 5px 5px;
}
.health-damage {
	border: black solid;
	margin: 5px 5px 5px 5px;
}
